:root {
    --font-family-base: "Inter", sans-serif;
  
    --color-primary: #00afca;
    --color-accent: #f8c414;
  
    --color-bg-light: #f8fafc;
    --color-bg-dark: #0a111a;
  
    --color-text-light: #0f172a;
    --color-text-dark: #f8fafc;
  
    --color-border-light: #e2e8f0;
    --color-border-dark: #1e293b;
  
    --shadow-primary-20: 0 10px 30px rgba(0, 175, 202, 0.2);
    --shadow-primary-30: 0 18px 40px rgba(0, 175, 202, 0.3);
    --shadow-primary-40: 0 24px 50px rgba(0, 175, 202, 0.4);
  }